<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">

  <script src="./javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./semantic/dist/semantic.min.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>

</head>

<body style="background-color: #323232">

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
      <div class="content">
        Log-in to the configuration page
      </div>
    </h2>
      <form class="ui large form" action="./adminLogin" method="post">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="username" type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input id="password" type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button">Login</div>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>

  <script>
    $('.ui.form')
      .form({
        fields: {
          username: {
            identifier: 'username',
            rules: [{
              type: 'empty',
              prompt: 'Please enter your username'
            }]
          },
          password: {
            identifier: 'password',
            rules: [{
                type: 'empty',
                prompt: 'Please enter your password'
              },
              {
                type: 'length[5]',
                prompt: 'Your password must be at least 5 characters'
              }
            ]
          }
        }
      });
  </script>
</body>

</html>
