
<% if (showEmptyPge){ %>
<% include emptyPage %>
<% }else{ %>
<% include header %>
<div class="ui grid">
  <div class="ui container">
        <iframe src="./analyticsLink/" frameborder="0" style="height:100%; width:100% ;position:fixed; top:0px; right: 0px; left: 0px"></iframe>
</div>
</div>
    <% include footer %>
    <% } %>
