
<% include header %>
<div class="ui grid">
<<<<<<< HEAD
  <div class="ui container" class="containerWihPadding">
        <iframe src="./analyticsLink/" frameborder="0" scrolling="no" style="height:1000px; width:100% ; right: 0px; left: 0px"></iframe>
=======
  <div class="ui container">
        <iframe src="./analyticsLink/" frameborder="0" style="height:100%; width:100% ;position:fixed; top:0px; right: 0px; left: 0px"></iframe>
>>>>>>> 605efe411cacf5f9bb425972e5d2842e34597d46
</div>
</div>
    <% include footer %>
