<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <script src="./javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./semantic/dist/semantic.min.js"></script>
  <script src="./ckeditor/ckeditor.js"></script>

  <style>
    .ui.checkbox {
      padding-top: 1%;
    }
  </style>

</head>

<body style=" padding: 10px; ">
  <div class="ui container" style="overflow:hidden">
    <h1 style="padding-top:10px">Configuration Page</h1>
    <div class="ui two column stackable grid">
      <div class="column">
        <form class="ui form" action="./config" method="post">
          <div class="ui styled accordion">
            <div id="generalInfoTitle" class="active title">
              <i class="dropdown icon"></i> General Info
            </div>
            <div id="generalInfoContent" class="active content">
              <div class="field" style="margin-bottom:5px">
                <div class="ui corner  labeled input">
                  <a class="ui left label" style="width: 150px;">
          Vocabulary Name
        </a>
                  <input type="text" id="vocabularyName" name="vocabularyName" placeholder="e.g. Mobivoc"  />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui left label" style="width: 150px;">
          Hosting Server
        </a>
                  <input type="text" id="server" name="server" placeholder="e.g. http://vocol.vagrantshare.com"  />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">

                <div class="ui labeled input">
                  <a class="ui left label" style="width: 150px;">
          Admin Username
        </a>
                  <input type="text" id="adminUserName" name="adminUserName" placeholder="Enter an admin username for this instance"  />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">

                <div class="ui labeled input">
                  <a class="ui left label" style="width: 150px;">
          Admin Password
        </a>
                  <input type="password" id="adminPass" name="adminPass" placeholder="Enter an admin password for this instance"  />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
            </div>
            <div id="repositoryInfoTitle" class="title">
              <i class="dropdown icon"></i> Repository Info
            </div>
            <div id="repositoryInfoContent" class="content">
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          Repository URL
        </a>
                  <input type="text" id="repositoryURL"  name="repositoryURL" placeholder="e.g. https://github.com/repositoryOwner/repositoryName.git"/>
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          Repository owner
        </a>
                  <input type="text" id="repositoryOwner" name="repositoryOwner" placeholder="e.g. repositoryOwner" />
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          Repository name
        </a>
                  <input type="text" id="repositoryName" name="repositoryName" placeholder="e.g. repositoryName" />
                </div>
              </div>

              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          Branch Name
        </a>
                  <input type="text" id="branchName" name="branchName" placeholder="e.g. master"/>
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>


              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          User
        </a>
                  <input type="text" id="user" name="user" placeholder="Enter your repository username" />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
          Password
        </a>
                  <input type="password" id="password" name="password" placeholder="Enter your repository password" />
                  <div class="ui corner label">
                    <i class="asterisk icon"></i>
                  </div>
                </div>
              </div>
              <div class="inline fields" style="margin-bottom:5px;paddin">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;margin-right: 20px;">
Repository service         </a>
                </div>

                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="repositoryService" value="gitHub" checked>
                    <label>GitHub</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="repositoryService" value="gitLab">
                    <label>GitLab</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="repositoryService" value="bitBucket">
                    <label>BitBucket</label>
                  </div>
                </div>
              </div>
              <div class="inline fields" style="margin-bottom:5px;paddin">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;margin-right: 20px;">
Repository Type         </a>
                </div>

                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="repositoryType" value="public" checked>
                    <label>public</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="repositoryType" value="private">
                    <label>private</label>
                  </div>
                </div>
              </div>
            </div>

            <div id="additionalServicesTitle" class="title">
              <i class="dropdown icon"></i> Additional Services
            </div>
            <div id="additionalServicesContent" class="content">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="visualization" value="true" checked>
                  <label>Visualization</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="sparqlEndPoint" value="true" checked>
                  <label>SPARQL Endpoint</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="documentationGeneration" value="true" checked>
                  <label>Documentation Generation</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="evolutionReport" value="true" checked>
                  <label>Evolution Report</label>
                </div>
              </div>

              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="clientHooks" value="true">
                  <label>Client Side Hooks</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="turtleEditor" value="true">
                  <label>Turtle Editor</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" name="analytics" value="true" checked>
                  <label>Analytics</label>
                </div>
              </div>
            </div>
            <div id="serializationFormatTitle" class="title">
              <i class="dropdown icon"></i> Serializations Format
            </div>
            <div id="serializationFormatContent" class="content">
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="rdfxml" value="true">
                  <label>RdfXML</label>
                </div>
              </div>
              <div class="field">
                <div class="ui  checkbox">
                  <input type="checkbox" name="ntriples" value="true">
                  <label>NTriples</label>
                </div>
              </div>
            </div>
            <div id="privateAccessModeTitle" class="title">
              <i class="dropdown icon"></i> Access in Private Mode
            </div>
            <div id="privateAccessModeContent" class="content">
              <p>
      Please create credentials to allow only a private access to the app instance
    </p>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
           Username
        </a>
                  <input type="text" id="loginUserName" name="loginUserName" placeholder="Enter your login username" />
                </div>
              </div>
              <div class="field" style="margin-bottom:5px">
                <div class="ui labeled input">
                  <a class="ui label" style="width: 150px;">
           Password
        </a>
                  <input type="password" id="loginPassword" name="loginPassword" placeholder="Enter your login password" />
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="text" id="text" />
          <div class="field">
            <div class="ui large right floated buttons">
              <button id="restBtn" class="ui reset button">Reset</button>
              <div class="or"></div>
              <button type="submit" class="ui blue submit button" value="Save Configurations">Save Configurations</button>
            </div>
          </div>
          <div class="field">
            <div class="ui error message"></div>
          </div>
        </form>
      </div>
      <div class="column">
        <ul class="nav nav-tabs" role="tablist" id="sourceCodeTabs">
          <li role="presentation" class="active"><a href="#homepage" aria-controls="homepage" role="tab" data-toggle="tab">Homepage Description</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="homepage">
            <textarea id="editor" placeholder="Please, provide a description of your ontology or vocabulary to be shown in the VoCol's homepage.<br/> You can include images, hyperlinks, etc. <br/> Moreover, you can as well paste your HTML code using the 'Source' button in the toolbar above." name="editor" onchange="submition();" style="overflow:auto; width:540px;height:382px">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script src="./javascripts/config.js"></script>
</body>

</html>
