<% include header %>

  <!--h1><%-title %></h1>
  <p>Welcome to  <%-title %></p-->
  <!--
  <a href="/ChargingPoint">ChargingStationI</a>
  -->
 <div style="margin-top: 5% !important;"><%-contactus %></div> 
<% include footer %>
