<% include header %>

  <div style="margin-top: 3% !important;"></div>
  <div class="ui grid">
    <div class="ui container">
      <% if  (evolutionReport != null){ %>

        <h1> Evolution Report</h1>
        <p>
          You can move and zoom the timeline, and select items.</p>
        <% } %>

          <div id="visualization"></div>
          <%if (history !="") {%>
            <div class="ui vertical labeled icon buttons" style="padding-top:40px; ">
              <div class="ui button">
                <i class="shuffle icon"></i> Reset Table Data
              </div>
            </div>
            <div style="padding-top:10px; padding-bottom:50px">
              <table id="commitsTable" class="display" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Pusher</th>
                    <th>Commit Message</th>
                    <th>Timestamp</th>
                    <th>Change Type</th>
                    <th>Change Triple</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Pusher</th>
                    <th>Commit Message</th>
                    <th>Timestamp</th>
                    <th>Change Type</th>
                    <th>Changes Triple</th>
                  </tr>
                </tfoot>
                <tbody id="tableData">
                  <%}%>
                </tbody>
              </table>
            </div>
            <div id='commitDetails'>
            </div>
    </div>
    <% include footer %>
      <script type="text/javascript">
      var commitData = "" ;
        if (!<%- JSON.stringify(history) %>) {
          var container = document.getElementById('visualization');
          // Create a DataSet (allows two way data-binding)
          var items = new vis.DataSet();
          // show timeLine with empty dataset
          $(function() {
            $(".vis-timeline").css("visibility", "visible");
          });
          // Configuration for the Timeline
          var options = {
            'width': '100%',
            'height': '300px'
          };
          // Create a Timeline
          var timeline = new vis.Timeline(container, items, options);

        } else {
          commitData = <%- JSON.stringify( evolutionReport)%>;
          var isNodeSelected = false;
          $(document).ready(function() {
            if (!isNodeSelected) {
              $('#commitsTable').DataTable({
                data: filterTableData(commitData)
              });
            }
          });
          // DOM element where the Timeline will be attached
          var container = document.getElementById('visualization');
          // Create a DataSet (allows two way data-binding)
          var items = new vis.DataSet(<%- JSON.stringify(history) %>);
          // Configuration for the Timeline
          var options = {
            'width': '100%',
            'height': '300px'
          };

          // Create a Timeline
          var timeline = new vis.Timeline(container, items, options);
          timeline.on('select', function(properties) {
            $(location).attr('href', items._data[properties.items[0]].link)
            isNodeSelected = true;
            $('#commitsTable').dataTable().fnClearTable();
            $('#commitsTable').dataTable().fnAddData(filterTableData(commitData, items._data[properties.items[0]].link));
          });
        }
        $('.ui.button').click(function(){
          $('#commitsTable').dataTable().fnClearTable();
          $('#commitsTable').dataTable().fnAddData(filterTableData(commitData));
        })

        function filterTableData(data, str) {
          var tableBody = "";
          var dataTable = data;
          var array = [];
          if (str)
            dataTable = data.filter(function(o) {
              return o.commitTimestamp === str.split("#")[1];
            })
          for (var i = 0; i < dataTable.length; i++) {
            var arr = [];
            arr.push(dataTable[i].pusher, dataTable[i].commitMessage, dataTable[i].commitTimestamp, dataTable[i].event, dataTable[i].value)
            array.push(arr);
          }
          return array;
        }
      </script>
