<% include header %>
  <div style="margin-top: 3% !important;"></div>
  <div class="ui grid">
    <div class="ui container">




    <h3> Datenschutzinformation - VoCol An Integrated Environment for Collaborative Vocabulary Development -</h3>
    <p>VoCol ist ein Projekt des Fraunhofer-Instituts für Intelligente Analyse- und Informationssysteme IAIS und zielt auf die Entwicklung einer Integrativen Umgebung für „Collaborative Vocabulary
Development“</p>
    <br>
    <div>
      <ul>
        <article>
          <div class="row">
            <div class=" fhg-grid-item fhg-grid-3-3-2-1">
              <div class="fhg-content fhg-richtext">
                <p>Das&nbsp;Fraunhofer-Institut für Intelligente Analyse- und Informationssysteme IAIS ist eine rechtlich nicht selbstständige Einrichtung der Fraunhofer-Gesellschaft zur Förderung
der angewandten Forschung e.V.</p>
                <p>Diese Datenschutzinformation gilt für die Datenverarbeitung auf der Webseite&nbsp;http://vocol.iais.fraunhofer.de.
                </p>
              </div>
            </div>
          </div>
        </article>
        <div class="reference parbase">
          <div style="display:inline;" class="cq-dd-paragraph">
            <div class="sectioncomponent
sectionComponent parbase">
              <div class="fhg-grid-section">
                <div class="fhg-grid fhg-grid-4-columns">
                  <section>
                    <div class="sectionParsys parsys">
                      <div class="fhg-content-article fhg-grid">
                        <article>
                          <div class="row">
                            <div class="fhg-grid-item fhg-grid-3-3-2-1 fhg-inline-image">
                              <div class="fhg-content fhg-richtext">
                                <p>Im Rahmen der Nutzung dieser Webseite werden personenbezogene Daten von Ihnen durch uns als den für die Datenverarbeitung Verantwortlichen verarbeitet und für
die Dauer gespeichert, die zur Erfüllung der festgelegten Zwecke
                                  und gesetzlicher Verpflichtungen erforderlich ist. Im Folgenden informieren wir Sie darüber, um welche Daten es sich dabei handelt, auf welche Weise sie
verarbeitet werden und welche Rechte Ihnen diesbezüglich zustehen.
                                </p>
                                <p>Personenbezogene Daten sind gemäß Art. 4 Nr. 1 Datenschutzgrundverordnung (DSGVO) alle Informationen, die sich auf eine identifizierte oder identifizierbare
natürliche Person beziehen.</p>
                                <p>&nbsp;</p>
                                <p><a href="http://vocol.iais.fraunhofer.de/gdpr.html#_Toc343784611">1. Name und Kontaktdaten des für die Verarbeitung Verantwortlichen
sowie des betrieblichen Datenschutzbeauftragten</a></p>
                                <p><a href="http://vocol.iais.fraunhofer.de/gdpr.html#_Toc343784612">2. Verarbeitung personenbezogener Daten und Zwecke der
Verarbeitung</a></p>

                                <p><a href="http://vocol.iais.fraunhofer.de/gdpr.html#_Toc343784618">3. Betroffenenrechte</a></p>
                                <p><a href="http://vocol.iais.fraunhofer.de/gdpr.html#_Toc343784622">4. Aktualität und Änderung dieser Datenschutzinformation</a></p>
                                  <p><a href="http://vocol.iais.fraunhofer.de/gdpr.html#_Toc343784622">5. Aktualität und Änderung dieser Datenschutzinformation</a></p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <h4><a name="_Toc343784611"></a>1. Name und Kontaktdaten des für die Verarbeitung Verantwortlichen sowie des betrieblichen
Datenschutzbeauftragten</h4>
                                <p>Diese Datenschutzinformation gilt für die Datenverarbeitung auf der Webseite <a href="http://vocol.iais.fraunhofer.de/" target="_blank" class="
external">http://vocol.iais.fraunhofer.de</a> durch den Verantwortlichen:<br> <br> Fraunhofer-Gesellschaft<br> zur Förderung der angewandten Forschung e.V.<br> Hansastraße 27 c<br> 80686
München<br> <br> für ihr Fraunhofer-Institut für Intelligente Analyse-
                                  und Informationssysteme IAIS, Schloss Birlinghoven, 53757 Sankt Augustin
                                  <br>(im Folgenden „Fraunhofer IAIS“)<br>
                                  <br> E-Mail: info@zv.fraunhofer.de<br> Telefon: +49 89 1205-0<br> Fax: +49 89 1205-7531</p>
                                <p><br> Der Datenschutzbeauftragte von Fraunhofer ist unter der oben genannten Anschrift, zu Händen des Datenschutzbeauftragten bzw. unter <a href="mailto:datenschutz@zv.fraunhofer.de" target="_blank" class="
external">datenschutz@zv.fraunhofer.de</a> erreichbar.</p>
                                <p>Sie können sich jederzeit bei Fragen zum Datenschutzrecht oder Ihren Betroffenenrechten direkt an unseren Datenschutzbeauftragten wenden.<br> &nbsp;</p>
                                <h4><a name="_Toc343784612"></a>2. Verarbeitung personenbezogener Daten und Zwecke der Verarbeitung<br> &nbsp;</h4>
                                <p><b>a) Beim Besuch der Webseite</b></p>
                                <p>Sie können die Webseite <a href="http://vocol.iais.fraunhofer.de/" target="_blank" class=" external">http://vocol.iais.fraunhofer.de</a> aufrufen, ohne Angaben
zu Ihrer Identität preisgeben zu müssen. Der auf Ihrem Endgerät
                                  eingesetzte Browser sendet lediglich automatisch Informationen an den Server unserer Webseite (z.B. Browsertyp und –version, Datum und Uhrzeit des Zugriffs), um
einen Verbindungsaufbau der Webseite zu ermöglichen. Hierzu
                                  gehört auch die IP-Adresse Ihres anfragenden Endgerätes. Diese wird temporär in einem sog. Logfile gespeichert und nach 4 Wochen automatisch gelöscht:</p>
                                <p>Die Verarbeitung der IP-Adresse erfolgt zu technischen und administrativen Zwecken des Verbindungsaufbaus und –stabilität, um die Sicherheit und
Funktionsfähigkeit unserer Webseite zu gewährleisten und etwaige rechtswidrige
                                  Angriffe hierauf notfalls verfolgen zu können.</p>
                                <p>Die Rechtsgrundlage für die Verarbeitung der IP-Adresse ist Art. 6 Abs. 1 S. 1 lit. f DSGVO. Unser berechtigtes Interesse folgt aus dem erwähnten
Sicherheitsinteresse und der Erforderlichkeit einer störungsfreien Bereitstellung
                                  unserer Webseite.
                                </p>
                                <p>Aus der Verarbeitung der IP-Adresse und anderer Information in dem Logfile können wir keine unmittelbaren Rückschlüsse auf Ihre Identität ziehen.</p>
                                  <br>

<br>

                                <h4><a name="_Toc343784618"></a>3. Betroffenenrechte</h4>
                                <p>Sie haben das Recht:</p>
                                <p><span class="bulletpointlist">gemäß Art. 7 Abs. 3 DSGVO Ihre einmal erteilte Einwilligung jederzeit gegenüber uns zu
widerrufen. Dies hat zur Folge, dass wir die Datenverarbeitung, die auf dieser Einwilligung beruhte, für die Zukunft nicht
mehr fortführen dürfen;<br> </span></p>
                                <p><span class="bulletpointlist">gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu
verlangen. Insbesondere können Sie Auskunft über die Verarbeitungszwecke, die Kategorie der personenbezogenen Daten, die
Kategorien von Empfängern, gegenüber denen Ihre Daten offengelegt wurden oder werden, die geplante Speicherdauer, das
Bestehen eines Rechts auf Berichtigung, Löschung, Einschränkung der Verarbeitung oder Widerspruch, das Bestehen eines
Beschwerderechts, die Herkunft ihrer Daten, sofern diese nicht bei uns erhoben wurden, sowie über das Bestehen einer
automatisierten Entscheidungsfindung einschließlich Profiling und ggf. aussagekräftigen Informationen zu deren Einzelheiten
verlangen;<br> </span></p>
                                <p><span class="bulletpointlist">gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer
bei uns gespeicherten personenbezogenen Daten zu verlangen;&nbsp;</span></p>
                                <p><span class="bulletpointlist">gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu
verlangen, soweit nicht die Verarbeitung zur Ausübung des Rechts auf freie Meinungsäußerung und Information, zur Erfüllung
einer rechtlichen Verpflichtung, aus Gründen des öffentlichen Interesses oder zur Geltendmachung, Ausübung oder Verteidigung
von Rechtsansprüchen erforderlich ist;<br> </span></p>
                                <p><span class="bulletpointlist">gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
verlangen, soweit die Richtigkeit der Daten von Ihnen bestritten wird, die Verarbeitung unrechtmäßig ist, Sie aber deren
Löschung ablehnen und wir die Daten nicht mehr benötigen, Sie jedoch diese zur Geltendmachung, Ausübung oder Verteidigung
von Rechtsansprüchen benötigen oder Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;<br>
</span></p>
                                <p><span class="bulletpointlist">gemäß Art. 20 DSGVO Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in
einem strukturierten, gängigen und maschinenlesebaren Format zu erhalten oder die Übermittlung an einen anderen
Verantwortlichen zu verlangen und<br> </span></p>
                                <p><span class="bulletpointlist">gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie
sich hierfür an die Aufsichtsbehörde ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Unternehmenssitzes
wenden.<br> &nbsp;</span></p>
                                <h4><a name="_Toc343784619"></a>4. Information über Ihr Widerspruchsrecht nach Art. 21 DSGVO</h4>
                                <p><b>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung
Sie betreffender personenbezogener Daten, die aufgrund von Artikel 6 Absatz 1 Buchstabe e DSGVO (Datenverarbeitung im
öffentlichen Interesse) und Artikel 6 Absatz 1 Buchstabe f DSGVO (Datenverarbeitung auf der Grundlage einer
Interessenabwägung) erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmung gestütztes Profiling von
Artikel 4 Nr. 4 DSGVO.</b></p>
                                <p><b>Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können
zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder
die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</b></p>
                                <p><b>Sofern sich Ihr Widerspruch gegen eine Verarbeitung von Daten zum Zwecke der Direktwerbung richtet, so werden wir die
Verarbeitung umgehend einstellen. In diesem Fall ist die Angabe einer besonderen Situation nicht erforderlich. Dies gilt
auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</b></p>
                                <p><b>Möchten Sie von Ihrem Widerspruchsrecht Gebrauch machen, so können Sie dies über: <br> <a href="https://www.fraunhofer.de/de/fraunhofer-newsletter-abmeldung.html" target="blank" class="
external">www.fraunhofer.de/de/fraunhofer-newsletter-abmeldung.html </a>tun.</b></p>
                                <p>&nbsp;</p>

                                <h4><a name="_Toc343784622"></a>5. Aktualität und Änderung dieser Datenschutzinformation</h4>
                                <p>Diese Datenschutzinformation ist aktuell gültig und hat den Stand Mai 2018.</p>
                                <p>Durch die Weiterentwicklung unserer Webseite und Angebote darüber oder aufgrund geänderter gesetzlicher bzw. behördlicher Vorgaben kann es notwendig werden,
diese Datenschutzinformation zu ändern. Die jeweils aktuelle Datenschutzinformation
                                  kann jederzeit auf der Webseite unter <a href="http://vocol.iais.fraunhofer.de/gdpr" target="blank" class="
external">http://vocol.iais.fraunhofer.de/gdpr</a>&nbsp;von Ihnen abgerufen und ausgedruckt werden.</p>
                              </div>
                            </div>

                          </div>
                        </article>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<% include footer %>
