<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url="https://rawgit.com/lavhal/testProj/master/VoColClient/TurtleEditor/turtle-editor.html">
        <script type="text/javascript">
	    window.location.href = "https://rawgit.com/lavhal/testProj/master/VoColClient/TurtleEditor/turtle-editor.html"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        If you are not redirected automatically, follow
	the <a href="https://rawgit.com/lavhal/testProj/master/VoColClient/TurtleEditor/turtle-editor.html">link
	to the Turtle Editor on GitHub.</a>
    </body>
</html>
