<% include header %>
  <div style="margin-top: 3% !important;"></div>
  <div class="ui grid">
    <div class="ui container">

          <h1>Imprint</h1><br/>
    <div>
      <ul>

        <div >
        <div >
        <div >
                <p>The <b class="bold">Fraunhofer Institute for Intelligent Analysis and Information Systems IAIS</b>, Germany<br> </p>
<p>is a constituent entity of the Fraunhofer-Gesellschaft, and as such has no separate legal status.</p>
<p>Fraunhofer-Gesellschaft&nbsp;<br> zur Förderung der angewandten Forschung e.V.<br> Hansastraße 27 c<br> 80686 München<br> Internet: <a class="external"
href="http://www.fraunhofer.de/" target="_blank">www.fraunhofer.de</a><br> E-Mail: info(at)zv.fraunhofer.de</p>
<h4>Responsible editor:</h4>
<p><a href="mailto:christoph.lange-Bever@iais.fraunhofer.de" class="external" target="_blank">Christoph Lange-Bever</a> &nbsp;</p></div>
</div>
</div>

<div >
    <div>
                <p><b class="bold">VAT Identification Number</b> in accordance with §27 a VAT Tax Act: DE 129515865<br> <br>
                <b class="bold">Court of jurisdiction<br> </b>Amtsgericht&nbsp; München&nbsp;(district court)<br> Registered nonprofit association&nbsp;<br> Registration
no. VR 4461&nbsp;&nbsp;<br> </p> <br/>
<h4>Executive Board</h4>
<p>Prof. Dr.-Ing. Reimund Neugebauer, President, Corporate Policy and Research Management<br> Prof. Dr. Georg Rosenfeld,&nbsp;Technology Marketing and Business
Models<br> Prof. Dr. Alexander Kurz, Human Resources, Legal Affairs and IP Management<br> Prof. (Univ. Stellenbosch) Dr. Alfred Gossner, Finance, Controlling&nbsp;(incl.
Business Administration, Purchasing and Real Estate) and Information Systems</p>
<br/><h4>Usage Rights</h4>
<p>Copyright © by<br> Fraunhofer-Gesellschaft<br> <br> All rights reserved.&nbsp;</p>
<p>All copyright for this Web site are owned in full by the Fraunhofer-Gesellschaft.<br> </p>
<p>Permission is granted to download or print material published on this site for personal use only. Its use for any other purpose, and in particular its commercial use
or distribution, are strictly forbidden in the absence of prior written approval.</p>
<p>Notwithstanding this requirement, material may be downloaded or printed for use in connection with press reports on the activities of the Fraunhofer-Gesellschaft and
its constituent institutes, on condition that the following terms are complied with:</p>
<p>No alterations may be made to pictorial content, with the exception of framing modifications to emphasize the central motif. The source must be quoted and two free
reference copies must be sent to the above-mentioned address. Such usage is free of charge.</p>
<br/><h4>Disclaimer</h4>
<p>We cannot assume any liability for the content of external pages. Solely the operators of those linked pages are responsible for their content.</p>
<p>We make every reasonable effort to ensure that the content of this Web site is kept up to date, and that it is accurate and complete. Nevertheless, the possibility of
errors cannot be entirely ruled out. We do not give any warranty in respect of the timeliness, accuracy or completeness of material published on this Web site, and
disclaim all liability for (material or non-material) loss or damage incurred by third parties arising from the use of content obtained from the Web site.</p>
<p>Registered trademarks and proprietary names, and copyrighted text and images, are not generally indicated as such on our Web pages. But the absence of such
indications in no way implies that these names, images or text belong to the public domain in the context of trademark or copyright law.</p></div>
        </div>

      </b></ul>
    </b></div>
    </div>
  </div>
  <% include footer %>
