

$('#infoDetails').hide();
$('#tree').hide();
$('#notFoundMessage').html('<div class="ui icon message"><i class="warning circle icon"></i><div class="content"><div class="header">No concept was found!! </div><p>Search another concept.</p></div></div>');
$('#notFoundMessage').show();
