<% if (showEmptyPge){ %>
<% include emptyPage %>
<% }else{ %>
  <% include header %>
<div class="ui grid">
<div class="ui container">

    <iframe src="./fuseki/dataset.html?tab=query&ds=/dataset" frameborder="0" style="margin-top:-100px; height:100%;width:100%;position:fixed; right: 0px; left: 0px;top:0px"></iframe>
</div>
</div>

    <% include footer %>
    <% } %>
