
  <% include header %>
<<<<<<< HEAD
<div class="ui grid">
<div class="ui container" >
    <iframe src="./turtleEditorLink/" frameborder="0" scrolling="no" style="height:800px; position: absolute; width:100% ; right: 0px; left: 0px"></iframe>
=======

  <div class="ui grid">
<div class="ui container">
  <div  id="iframeContainer">
    <iframe src="./turtleEditorLink/" frameborder="0" style="height:100%; width:96% ; right: 0px; left: 0px"></iframe>
</div>
>>>>>>> 605efe411cacf5f9bb425972e5d2842e34597d46
</div>
</div>

<% include footer %>
