<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>
    Preparation
  </title>
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="./semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
  <script src="./javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./semantic/dist/semantic.min.js"></script>
  <script type="text/javascript">
  timeout = setTimeout(function() {
    window.location.href = './startup';
  }, 1500);

  </script>
</head>

<div class="ui icon message" style="padding-top:1cm">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <h1 class="ui red header">
    We will have your application up and running in few moments ....
    </h1>
    <div class="ui horizontal divider">
    <div>
    <h4>Your Configurations were filled successfully.</h4>
    <h4>We're preparing that system with the assigned Configurations for you.</h4>
    <h4>You will be redirected soon.</h4>
  </div>
  </div>
</div>
</div>
</body>

</html>
