<% if (showEmptyPge){ %>
<% include emptyPage %>
<% }else{ %>
  <% include header %>
  <div id="iframewebvowlContainer">
    <iframe src="./webvowlLink/" frameborder="0" style="height:95%; width:100% ;position:fixed; right: 0px; left: 0px"></iframe>
</div>
    <% include footer %>
    <% } %>
