<!DOCTYPE html>
<html>
  <head>
    <title>RDFa Lite Reflection</title>
    <meta charset="UTF-8" />
    <style type="text/css">
      span.h {
        padding-left: 0px;
        font-weight: bold;
      }
      span {
        display: block;
        padding-left: 10px;
      }
    </style>
  </head>

  <body>
    <h1>Schema.org core schema</h1>

    <p>This is the RDFa representation of the schema.org schema, the underlying representation of the schema.org vocabulary.</p>

    <p>It is represented in a form based on W3C RDF/RDFS. We encourage proposals for schema.org improvements to be expressed
      in this same style. For Discussion please use the W3C <a href="mailto:public-vocabs@w3.org">Web schemas</a> group.</p>
    <p>
    See <a href="http://schema.org/docs/datamodel.html">datamodel</a> for more details.
    </p>
    <p>
      Note: the style of RDFa used here may change in the future. To see the substantive content of the schema, view the
      HTML source markup. We use a simple subset of RDFa for syntax, including prefixes that are declared in the
      <a href="http://www.w3.org/2011/rdfa-context/rdfa-1.1">RDFa initial context</a>.
    </p>

    <hr />

    $divs

</body>
</html>