<!DOCTYPE html>
<!-- see comment in js/app/github-ttl-editor.js for some links -->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editing Turtle on GitHub</title>
  <link href="../javascripts/semanticUI/semantic.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/codemirror.css" rel="stylesheet">
  <link href="css/show-hint.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <script src="js/config.js" defer></script>
  <script data-main="turtle-editor" src="js/lib/require.js" defer></script>
  <style type="text/css">
    .styled-background {
      background-color: yellow;
    }
  </style>
</head>

<body>
  <section id="message-queue"></section>
  <div class="container">

    <div class="row" style="font-size:12px;">
      <div class="col-md-3">
        <div class="form-group" style="padding-top:35px;">
          <label for="input-username">Username (for login)</label>
          <input type="text" class="form-control popup-show" id="input-username" placeholder="Your GitHub username">
          <div class="ui special popup">
            <div class="header">You need to provide your username and password only if you want to save the files after editing, or if the repository is private.</div>
          </div>

        </div>
        <div class="form-group">
          <label for="input-password">Password or Token</label>
          <input type="password" class="form-control popup-show" id="input-password" placeholder="Password or Token">
          <div class="ui special popup">
            <div class="header">To authenticate with a GitHub personal access token, leave the fields Username empty and paste the token into the field Password or Token.</div>
          </div>
        </div>
        <div class="form-group">
          <button type="button" id="button-load" class="ui big button popup-show" style="width:100%">
            <i class="undo icon"></i>
Show Files</button>
          <div class="ui special popup">
            <div class="header">For a quick tour leave the fields Username and Password blank and just click the Load Files button.</div>
          </div>
        </div>
        <div class="form-group">
          <label for="input-file">Filename</label>
          <select class="form-control popup-show" id="input-file"></select>
          <div class="ui special popup">
            <div class="header">Select individual files for viewing or editing.</div>
          </div>
        </div>



        <label  for="syntax-play" >Syntax checking</label>

        <div class="form-group">
          <div class="ui form">
            <div class="inline field">
              <div class="ui toggle checkbox popup-show">
                <label for="enableDisbleSyntaxChecking">Deactivate/Activate</label>
                <input type="checkbox" name="mySliders" id="enableDisbleSyntaxChecking">


          </div>

                <div class="ui special popup">
                  <div class="header">Click to activate/deactivate syntax checking.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="input-message">Commit message</label>
            <input type="text" class="form-control" id="input-message" placeholder="Turtle file edited, just as an example."/>



          </div>
            <div class="form-group">
              <button class="ui big vk button"  id="button-save" style="width:100%">
  <i class="save icon"></i>
  Commit changes
</button>
            </div>

            <div id="syntax-check" style="padding-bottom:12px">
              <p id="syntax-check-failed" style="display: none">
                <img src="img/red_orb.png" alt="A red orb." class="status-icon">
                <span class="status">Syntax check failed.</span>
              </p>
              <p id="syntax-check-working" style="display: none">
                <img src="img/yellow_orb.png" alt="A yellow orb." class="status-icon">
                <span class="status">Syntax checker working.</span>
              </p>
              <p id="syntax-check-pending">
                <img src="img/yellow_orb.png" alt="A yellow orb." class="status-icon">
                <span class="status">Syntax check pending...</span>
              </p>
              <p id="syntax-check-off" style="display: none">
                <img src="img/yellow_orb.png" alt="A yellow orb." class="status-icon">
                <span class="status">Syntax checking is disabled. Click to enable.</span>
              </p>
              <p id="syntax-check-passed" style="display: none">
                <img src="img/green_orb.png" alt="A green orb." class="status-icon">
                <span class="status">Syntax check passed.</span>
              </p>
            </div>
            <div class="form-group">
              <div class="ui big button popup-show" id="helpButton" style="padding-top: 6px; width:100%">
                <i class="hand paper icon"></i> Help
              </div>
              <div class="ui special popup">
                <div class="header">Click Me! to get some details about the editor usage.</div>
              </div>
            </div>

            <div class="ui fullscreen modal" id="helpModal" style= " position: relative;">
              <i class="close icon"></i>
              <div class="header">
                Help for using the editor
              </div>
              <div class="content" style="font-size:16px">
                <ul>
                  <li>For a quick tour leave the fields <em>Username</em> and <em>Password</em> blank and just click the <em>Load Files</em> button.
                  <li>Select individual files for viewing/editing in the field <em>Filename</em>.
                  <li>To use the autocomplete function, type <em>Ctrl+Space</em>.
                  <li>Click the colored sphere to temporarily disable syntax checking.
                  <li>You need to provide your username and password only if you want to save the files after editing, or if the repository is private.
                  <li>To authenticate with a GitHub personal access token, leave the fields <em>Username</em> empty and paste the token into the field <em>Password or Token</em>.
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="form-group">
              <br><br>

              <div style="display:inline-block; width: 35%">
                <b>Content editor: </b> <span class="current-filename"></span>
              </div>

                <div class="wrapper" style="display:inline-block; width:60%">
                  <div class="ui form">
                      <label for="search-input" style="display:inline-block; float:left; margin-left:30%; padding-top:10px;">Search</label>
                      <input type='text' id='search-input' placeholder='Keyword...' class="form-control" enabled="true" style="width: 60%; margin-left:40%;">
                      <span id='search-count' class='hidden-element search-count'><span id='search-index'></span><span id='search-total'></span></span>

                    <button type="button" id="next-btn" class="search-btn hidden-element" style="display:none">
                      <i class="angle double right icon"></i>
                    </button>
                    <button type="button" id="previous-btn" class="search-btn hidden-element" style="display:none">
                      <i class="angle double  left icon"></i>
                    </button>
                  </div>
                </div>



            </div>
            <textarea id="input-contents" placeholder="File content will appear here" rows="40" wrap="hard"></textarea>

            <div class="ui small modal" id="modalNewCommit" style="font-size:16px">
              <i class="close icon"></i>
              <div class="header">
                Warning! New commit
              </div>
              <div class="content">
                <p>
                  There is a new commit on your working repository.
                </p>
                <div class="description">
                  Save your data or reload without saving
                </div>
              </div>
              <div class="actions">
                <div class="ui big button">Reload without saving</div>
                <div class="ui vk big button">Save my data</div>
              </div>
            </div>

          </div>
        </div>
      </div>
</body>

</html>
