.ErrorLine-background {background: #F2DEDE;} /* light red */

.breakpoints {width: .8em;}
.breakpoint { color: #822; }


#message-queue {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.status-icon {
    width: 29px;
    height: 32px;
}


/* overwrite setting in codemirror.css */

.CodeMirror {
    height: 338px;
}
