<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title></title>
  <meta name="description" />
  <link rel="stylesheet" type="text/css" href="lib/css/style.css" />
  <link rel="stylesheet" type="text/css" href="../../public/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">
  <link href="../../public/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css">
  <link href="../../public/dist/vis-network.min.css" rel="stylesheet" type="text/css">
  <script src="../../public/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../../public/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../public/semantic/dist/semantic.min.js"></script>
  <script src="lib/d3/d3.v3.min.js"></script>
  <script src="lib/d3/sankey.js"></script>
  <script src="d3sparql.js"></script>
  <script src="queries.js"></script>
  <script src="lib/js/topojson.min.js"></script>
  <script src="../../public/dist/vis.min.js"></script>


</head>

<body>
  <div style="margin-top: 3% !important;"></div>
  <h1>Analytical Graphs</h1>
  <div style="margin-top: 30px">

    <div class="ui form">

      <div class="inline fields">
        <div class="seven wide field">
          <div class="ui large dropdown labeled search icon button">
            <i class="bar chart icon"></i>
            <span class="text">Select Graph Type</span>
            <div class="menu">
              <div class="header">Chart</div>
              <div class=" item" data-text="BarChart">BarChart</div>
              <div class=" large item" data-text="PieChart">PieChart</div>
              <div class="header">Graph</div>
              <div class=" item" data-text="ForceGraph">ForceGraph</div>
              <div class=" item" data-text="Sankey">Sankey</div>
              <div class="header">Tree</div>
              <div class=" item" data-text="RoundTree">RoundTree</div>
              <div class=" item" data-text="DendroGram">DendroGram</div>
              <div class=" item" data-text="TreeMap">TreeMap</div>
              <div class=" item" data-text="SunBurst">SunBurst</div>
              <div class=" item" data-text="CirclePack">CirclePack</div>
            </div>
          </div>
        </div>

        <div id="search-entity" style="margin-top: 10px; height: 100%" class="form-group item-hidden">
          <select id="select-entity" class="ui search dropdown popup-show">
              <option value="">Choose entity</option>
            </select>
          <div class="ui special popup">
            <div class="header">To focus on your favourite entity, click here to choose it or fill in its name. </div>
          </div>
        </div>

        <div class="one field"></div>

        <div id="rdf-skos" style="display:none">
          <div class="ui form">
            <div class="grouped fields">
              <div class="ui buttons">
                <div class="field">
                  <div class="ui radio checkbox">
                    <button  class="ui positive button" id="rdf" onclick="check('rdf')">
                      <input type="radio" id="rdf-radio" name="rdf-skos" checked="checked">
                      <label>RDF(S)</label>
                    </button>
                  </div>
                </div>
                <div class="or" data-text="or"></div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <button class="ui button" id="skos" onclick="check('skos')">
                      <input type="radio" id="skos-radio" name="rdf-skos" >
                      <label>SKOS</label>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="one field"></div>

        <div class="ui large button" data-toggle="modal" class="modal_message" data-target="#sparqlModal" onclick="toggle()"> Query
        </div>

        <div id="sparqlModal" class="fullscreen modal" role="dialog">
          <div class="modal-dialog" style="width:800px;">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close home_close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Query</h3>
              </div>
              <div class="modal-body">

                <p>
                  <form class="msg_form" onsubmit="return false;" role="form">
                    <div class="modal-footer">
                      <textarea class="msg_home" id="sparql" ></textarea>
                      <br><br>

                      <div class="ui red cancel inverted button" id="cancleQuery" data-dismiss="modal" style="align:right">
                        <i class="remove icon"></i>
                        Cancle
                      </div>
                      <button type="button" class="sendmsg ui green ok inverted button" id="executeQuery" data-dismiss="modal">
                    <i class="checkmark icon"></i>
                    Run
                  </button>
                    </div>
                  </form>
                </p>

              </div>
            </div>
          </div>

        </div>

        <div class="ui large right labeled icon button" onclick="exec()">
          <i class="right arrow icon"></i> Show
        </div>

      </div>
    </div>

    <input id="endpoint" value="http://dbpedia.org/sparql" type="hidden" class="form-control">


    <div id="result">

    </div>
    <br/>


    <div id="dendro-zoom" style=" margin-left: 50px; display:none" class="form-group">
      <button id="zoom_in" class="zoom popup-show" ><i class="plus icon"></i></button>
      <div class="ui special popup">
        <div class="header">Click to zoom in </div>
      </div>
      <button id="zoom_out" class="zoom popup-show"><i class="minus icon"></i></button>
      <div class="ui special popup">
        <div class="header">Click to zoom out </div>
      </div>
    </div>
  </div>
  </div>


  </div>

  <script>
    function check(val) {
      if (val == 'rdf') {
        if (!$('#rdf-radio').checked) {
          $('#rdf-radio').prop("checked", true);
          $('#skos-radio').prop("checked", false);
          document.getElementById('skos').classList.remove('positive');
          document.getElementById('rdf').classList.add('positive');
          $('#sparql').val(data[3]['query']);
        }
      }
      if (val == 'skos') {
        if (!$('#skos-radio').checked) {
          $('#skos-radio').prop("checked", true);
          $('#rdf-radio').prop("checked", false);
          document.getElementById('rdf').classList.remove('positive');
          document.getElementById('skos').classList.add('positive');
          $('#sparql').val(data[5]['query']);
        }
      }
    }


    var selectedgraphtype = "";
    $('.ui.dropdown').dropdown({
      // action: 'combo',
      onChange: function(value, text) {
        selectedgraphtype = text;
        if (selectedgraphtype == 'BarChart') {
          $('#sparql').val(data[0]['query']);
          exec();
        } else if (selectedgraphtype == 'PieChart') {
          $('#sparql').val(data[0]['query']);
          exec();
        } else if (selectedgraphtype == 'ForceGraph') {
          $('#sparql').val(data[1]['query']);
          var height = $(document).height()
          var width = $(document).width() * (2 / 3);
          $("#result").height(height).width(width);
          exec();
        } else if (selectedgraphtype == 'Sankey') {
          $('#sparql').val(data[2]['query']);
          exec();
        } else if (selectedgraphtype == 'RoundTree') {
          $('#sparql').val(data[3]['query']);
          exec();
        } else if (selectedgraphtype == 'DendroGram') {
          $("#select-entity").empty();
          $('#select-entity').append($('<option/>', {
            value: 'Choose entity',
            text: 'Choose entity'
          }));
          document.getElementById('rdf-skos').style.display = 'inline';
          if (document.getElementById("rdf-radio").checked === true) {
            $('#sparql').val(data[3]['query']);
          } else {
            $('#sparql').val(data[5]['query']);
          }

          exec(); //TODO: It should be checked that why some nodes are hidden when selected.
        } else if (selectedgraphtype == 'TreeMap') {
          $('#sparql').val(data[3]['query']);
          exec();
        } else if (selectedgraphtype == 'SunBurst') {
          $('#sparql').val(data[3]['query']);
          exec();
        } else if (selectedgraphtype == 'CirclePack') {
          $('#sparql').val(data[3]['query']);
          exec();
        }
      }
    });

    $(function() {
      loadQueries();
    });

    function exec() {
      if (selectedgraphtype != 'DendroGram') {
        document.getElementById('rdf-skos').style.display = 'none';
        document.getElementById('dendro-zoom').style.display = 'none';
      }

      if (selectedgraphtype != ('ForceGraph' || 'DendroGram'))
        $('#search-entity').css('display', 'none');
      if (selectedgraphtype != 'ForceGraph') {
        document.getElementById('result').classList.add('showGraph');
      }
      if (selectedgraphtype == 'ForceGraph') {
        document.getElementById('result').classList.remove('showGraph');
      }

      //User guide for popup show
      var resizePopup = function() {
        $('.ui.popup').css('max-height', $(window).height());
      };

      $(window).resize(function(e) {
        resizePopup();
      });

      $('.popup-show')
        .popup({
          lastResort: 'bottom left',
          onShow: function() {
            resizePopup();
          },
        });

      ///// TODO: clean this function to just one call
      // var selectedgraphtype = d3.select("#graphtype").property("value")

      var endpoint = d3.select("#endpoint").property("value")
      var sparql = d3.select("#sparql").property("value")
      if (selectedgraphtype == 'BarChart') {
        d3sparql.query(endpoint, sparql, barchart)
      } else if (selectedgraphtype == 'PieChart') {
        d3sparql.query(endpoint, sparql, piechart)
      } else if (selectedgraphtype == 'ForceGraph') {
        $('#search-entity').css('display', 'inline');
        d3sparql.query(endpoint, sparql, forcegraph)
      } else if (selectedgraphtype == 'Sankey') {
        d3sparql.query(endpoint, sparql, sankey)
      } else if (selectedgraphtype == 'RoundTree') {
        d3sparql.query(endpoint, sparql, roundtree)
      } else if (selectedgraphtype == 'DendroGram') {
        $('#search-entity').css('display', 'inline');
        $("#select-entity").empty();
        $('#select-entity').append($('<option/>', {
          value: 'Choose entity',
          text: 'Choose entity'
        }));
        d3sparql.query(endpoint, sparql, dendrogram);
        document.getElementById('dendro-zoom').style.display = 'inline';
      } else if (selectedgraphtype == 'TreeMap') {
        d3sparql.query(endpoint, sparql, treemap)
      } else if (selectedgraphtype == 'TreeMapZoom') {
        d3sparql.query(endpoint, sparql, treemapzoom)
      } else if (selectedgraphtype == 'SunBurst') {
        d3sparql.query(endpoint, sparql, sunburst)
      } else if (selectedgraphtype == 'CirclePack') {
        d3sparql.query(endpoint, sparql, circlepack)
      }
    }

    function barchart(json) {
      var config = {
        "label_x": "Type",
        "label_y": "Number",
        "var_x": "conceptType",
        "var_y": "value",
        "width": 800, // canvas width
        "height": 450, // canvas height
        "margin": 140, // canvas margin
        "selector": "#result"
      }
      d3sparql.barchart(json, config)
    }

    function piechart(json) {
      var config = {
        "label": "conceptType",
        "size": "value",
        "width": 800, // canvas width
        "height": 600, // canvas height
        "margin": 10, // canvas margin
        "hole": 200, // doughnut hole: 0 for pie, r > 0 for doughnut
        "selector": "#result"
      }
      console.log(json);
      var pieConcepts = [];
      var pieValues = {};

      var jsonData = json.results.bindings;
      for (var i = 0; i < jsonData.length; i++) {
        var newEntry = jsonData[i].conceptType.value;
        pieConcepts.push(newEntry);
        pieValues[newEntry] = jsonData[i].value.value;
      }

      $("#result").empty();
      $("#result").height(500).width(960);
      var svg = d3.select("#result")
      	.append("svg")
      	.append("g")

      svg.append("g")
      	.attr("class", "slices");
      svg.append("g")
      	.attr("class", "labels");
      svg.append("g")
      	.attr("class", "lines");

      var width = 960, //TODO: should be flexibile
          height = 450,
      	radius = Math.min(width, height) / 2;

      var pie = d3.layout.pie()
      	.sort(null)
      	.value(function(d) {
      		return d.value;
      	});

      var arc = d3.svg.arc()
      	.outerRadius(radius * 0.8)
      	.innerRadius(radius * 0.4);

      var outerArc = d3.svg.arc()
      	.innerRadius(radius * 0.9)
      	.outerRadius(radius * 0.9);

      svg.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

      var key = function(d){ return d.data.label; };

      var color = d3.scale.ordinal() //TODO: Here should manage colors
      	.domain(pieConcepts)
      	.range(["#2484c1", "#65a620", "#7b6888", "#a05d56", "#961a1a", "#d8d23a", "#e98125", "#d0743c", "#635222", "#6ada6a",
				"#0c6197", "#7d9058", "#207f33", "#44b9b0", "#bca44a", "#e4a14b", "#a3acb2", "#8cc3e9", "#69a6f9", "#5b388f",
				"#546e91", "#8bde95", "#d2ab58", "#273c71", "#98bf6e", "#4daa4b", "#98abc5", "#cc1010", "#31383b", "#006391",
				"#c2643f", "#b0a474", "#a5a39c", "#a9c2bc", "#22af8c", "#7fcecf", "#987ac6", "#3d3b87", "#b77b1c", "#c9c2b6",
				"#807ece", "#8db27c", "#be66a2", "#9ed3c6", "#00644b", "#005064", "#77979f", "#77e079", "#9c73ab", "#1f79a7"]);

      function randomData (){
      	var labels = color.domain(); //TODO: Here should manage labels and values
      	return labels.map(function(label){
      		return { label: label, value: pieValues[label] }
      	});
      }

      change(randomData());

      d3.select(".randomize")
      	.on("click", function(){
      		change(randomData());
      	});


      function change(data) {

      	/* ------- PIE SLICES -------*/
      	var slice = svg.select(".slices").selectAll("path.slice")
      		.data(pie(data), key);

      	slice.enter()
      		.insert("path")
      		.style("fill", function(d) { return color(d.data.label); })
      		.attr("class", "slice");

      	slice
      		.transition().duration(1000)
      		.attrTween("d", function(d) {
      			this._current = this._current || d;
      			var interpolate = d3.interpolate(this._current, d);
      			this._current = interpolate(0);
      			return function(t) {
      				return arc(interpolate(t));
      			};
      		})


      	slice.exit()
      		.remove();

      	/* ------- TEXT LABELS -------*/

      	var text = svg.select(".labels").selectAll("text")
      		.data(pie(data), key);

      	text.enter()
      		.append("text")
      		.attr("dy", ".35em")
      		.text(function(d) {
      			return (d.data.label);
      		});

      	function midAngle(d){
      		return d.startAngle + (d.endAngle - d.startAngle)/2;
      	}

      	text.transition().duration(1000)
      		.attrTween("transform", function(d) {
      			this._current = this._current || d;
      			var interpolate = d3.interpolate(this._current, d);
      			this._current = interpolate(0);
      			return function(t) {
      				var d2 = interpolate(t);
      				var pos = outerArc.centroid(d2);
      				pos[0] = radius * (midAngle(d2) < Math.PI ? 1 : -1);
      				return "translate("+ pos +")";
      			};
      		})
      		.styleTween("text-anchor", function(d){
      			this._current = this._current || d;
      			var interpolate = d3.interpolate(this._current, d);
      			this._current = interpolate(0);
      			return function(t) {
      				var d2 = interpolate(t);
      				return midAngle(d2) < Math.PI ? "start":"end";
      			};
      		});

      	text.exit()
      		.remove();

      	/* ------- SLICE TO TEXT POLYLINES -------*/

      	var polyline = svg.select(".lines").selectAll("polyline")
      		.data(pie(data), key);

      	polyline.enter()
      		.append("polyline");

      	polyline.transition().duration(1000)
      		.attrTween("points", function(d){
      			this._current = this._current || d;
      			var interpolate = d3.interpolate(this._current, d);
      			this._current = interpolate(0);
      			return function(t) {
      				var d2 = interpolate(t);
      				var pos = outerArc.centroid(d2);
      				pos[0] = radius * 0.95 * (midAngle(d2) < Math.PI ? 1 : -1);
      				return [arc.centroid(d2), outerArc.centroid(d2), pos];
      			};
      		});

      	polyline.exit()
      		.remove();
      };


    }







    function forcegraph(json) {
      var config = {
        "charge": -400,
        "distance": 50,
        "width": 800,
        "height": 700,
        "selector": "#result"
      }
      d3sparql.forcegraph(json, config);
    }

    function sankey(json) {
      var config = {
        "key1": "parent",
        "key2": "child",
        "label1": "parent_name",
        "label2": "child_name",
        "width": 800,
        "height": 750,
        "margin": 10,
        "selector": "#result"
      }
      d3sparql.sankey(json, config)
    }

    function roundtree(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "diameter": 800,
        "angle": 360,
        "depth": 200,
        "radius": 20,
        "selector": "#result"
      }
      d3sparql.roundtree(json, config)
    }

    function dendrogram(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "margin": 300,
        "radius": 10,
        "selector": "#result"
      }
      d3sparql.dendrogram(json, config)
    }

    function htmltable(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "width": 800,
        "height": 750,
        "margin": 300,
        "radius": 10,
        "selector": "#result"
      }
      d3sparql.htmltable(json, config)
    }

    function treemap(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "width": 800,
        "height": 520,
        "selector": "#result"
      }
      d3sparql.treemap(json, config)
    }

    function treemapzoom(json) {
      var config = {
        "width": 800,
        "height": 500,
        "selector": "#result"
      }
      d3sparql.treemapzoom(json, config)
    }

    function sunburst(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "width": 800,
        "height": 720,
        "margin": 50,
        "selector": "#result"
      }
      d3sparql.sunburst(json, config)
    }

    function circlepack(json) {
      var config = {
        "root": "root_name",
        "parent": "parent_name",
        "child": "child_name",
        "width": 800,
        "height": 850,
        "diameter": 700,
        "selector": "#result"
      }
      d3sparql.circlepack(json, config)
    }

    function coordmap(json) {
      var config = {
        "var_lat": "lat",
        "var_lng": "lng",
        "width": 800,
        "height": 400,
        "radius": 5,
        "color": "#55C25E",
        "topojson": "lib/d3/map/world-50m.json",
        "selector": "#result"
      }
      d3sparql.coordmap(json, config)
    }

    function namedmap(json) {
      var config = {
        "label": "label",
        "value": "size",
        "color_max": "red",
        "topojson": "lib/d3/map/japan.topojson",
        "mapname": "japan",
        "keyname": "name_local",
        "center_lat": 34,
        "center_lng": 137,
        "scale": 10000,
        "selector": "#result"
      }
      d3sparql.namedmap(json, config)
    }

    /* Helper function only for the d3sparql web site */
    function toggle() {
      var elem = d3.select("#sparql")
      $(document).ready(function() {
        jQuery("button#executeQuery").click(function() {
          var msg = $(this).parent().children().closest('textarea').val();
          alert(msg);
          loadQueries();
        });
      });

    }

    function exec_offline() {
      d3.json("cache/dbpedia/area-ja.json", render)
    }

    function loadQueries() {
      var pathName = window.location.pathname;
      var dynamicPath = "";
      if (pathName.split('/').length === 4)
        dynamicPath = '/' + pathName.split('/')[1];
      for (var i = 0; i < data.length; i++) {
        $('#queries').append($("<option/>", {
          value: i,
          text: data[i]['name']
        }));
        if (i == 0) {
          $('#sparql').val(data[i]['query']);
          $('#endpoint').val(data[i]['endpoint'].replace('domain', window.location.origin + dynamicPath));
        }
      }
    }
  </script>
  <style>
    .ui.popup {
      overflow: auto;
    }

    .ui.dropdown .menu>.item {
      font-size: 1.2rem;
    }

    .bar:hover {
      fill: brown;
    }

    text {
      font-size: 11px;
      pointer-events: none;
    }

    text.parent {
      fill: #1f77b4;
    }

    circle {
      fill: #ccc;
      stroke: #999;
      pointer-events: all;
    }

    circle.parent {
      fill: #1f77b4;
      fill-opacity: .1;
      stroke: steelblue;
    }

    circle.parent:hover {
      stroke: #ff7f0e;
      stroke-width: .5px;
    }

    circle.child {
      pointer-events: none;
    }

    #result {
      overflow-x: auto;
      overflow-y: auto;
      text-align: center;
      margin-left: 50px;
      margin-top: 50px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .showGraph {
      border-style: ridge;
    }

    .item-show {
      display: inline;
    }

    .item-hidden {
      display: none;
    }

    <!--Pie Chart style -->
    path.slice{
    	stroke-width:2px;
    }

    polyline{
    	opacity: .3;
    	stroke: black;
    	stroke-width: 2px;
    	fill: none;
    }

    .slice text {
        font-size: 16pt;
        font-family: Arial;
    }





  </style>

</body>

</html>
