<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>VoCol Configuration</title>
  <meta name="description" />
  <link rel="stylesheet" type="text/css" href="/docs/style.css">

  <script type="text/javascript" src="tinymce/tinymce.min.js"></script>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="tipped-4.4.2-light/js/tipped/tipped.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="tipped-4.4.2-light/css/tipped/tipped.css" />

  <script src="/docs/ckeditor/ckeditor.js"></script>
  <script src="/docs/ckeditor/samples/js/sample.js"></script>
  <link rel="stylesheet" href="/docs/ckeditor/samples/css/samples.css">

  <script type="text/javascript">
    $(document).ready(function() {

      Tipped.create('#SchemaOrgInfo', function(element) {
        return {
          content: $('#SchemaOrgContent').html()
        };
      }, {
        skin: 'light'
      });


      Tipped.create('#WidocoInfo', function(element) {
        return {
          content: $('#WidocoContent').html()
        };
      }, {
        skin: 'light'
      });

      Tipped.create('#WebHookInfo', function(element) {
        return {
          content: $('#WebHookContent').html()
        };
      }, {
        skin: 'light'
      });


    });

    tinymce.init({
      selector: "aatextarea",
      theme: "modern",
      plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
      ],
      height: 360,
      resize: false,
      toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });

    function validateFormOnSubmit(theForm) {
      var reason = "";

      reason += validateEmpty(theForm.vocabularyName);
      reason += validateEmpty(theForm.server);
      reason += validateEmpty(theForm.repository);
      reason += validateEmpty(theForm.branchName);
      reason += validateEmpty(theForm.user);
      reason += validateEmpty(theForm.password);

      if (reason != "") {
        alert("Some fields need correction:\n" + reason);
        return false;
      }

      return true;
    }

    function validateEmpty(fld) {
      var error = "";

      if (fld.value.length == 0) {
        fld.style.background = 'Yellow';
        error = "The required field has not been filled in.\n"
      } else {
        fld.style.background = 'White';
      }
      return error;
    }


    $('#sourceCodeTabs a').click(function(e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>

  <style type="text/css">
    table {
      border-collapse: collapse;
      font-size: 11px;
      font-family: "Times New Roman", Times, serif;
    }

    .sectionTR {
      font-size: 12px;
      border-bottom-style: ridge;
      border-top-style: ridge;
    }
  </style>

</head>

<body>


  <div class='tooltip-painter' id='SchemaOrgContent' style='display:none'>
    <div class='title'>SchemaOrg Style</div>
    <div class='photo' style="text-align:center">
      <img src="images/schemaorg.png" alt="" width="200" height="200" />
    </div>
    <div class='content'>
      <div class='padder'>
        <div>Generate documentation based on SchemaOrg tool.</div>
      </div>
    </div>
  </div>


  <div class='tooltip-painter' id='WidocoContent' style='display:none'>
    <div class='title'>Widoco Style</div>
    <div class='photo' style="text-align:center">
      <img src="images/widoco.png" alt="" width="200" height="200" />
    </div>
    <div class='content'>
      <div class='padder'>
        <div>Generate documentation based on Widoco tool.</div>
      </div>
    </div>
  </div>

  <div class='tooltip-painter' id='WebHookContent' style='display:none'>
    <div class='title'>WebHook info</div>
    <div class='content'>
      <div class='padder'>
        <div>Uncheck this option only if previous domain name is same as current given domain name.</div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <li style="margin-left:-15px"> <a href="/">Home</a> </li>

        </ul>
      </div>
    </div>
    </div>
  </nav>

  <div class="container" style="height:800px">

    <div>
      <form action="/configuration" onsubmit="return validateFormOnSubmit(this)" method="post">
        <fieldset>
          <table>
            <tr>
              <td>
                <table>
                  <tr>
                    <td colspan="2" class="sectionTR">
                      <b>General Info</b>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:170px">
                      <label for="vocabularyName" style="width:150px">Vocabulary Name:</label>
                    </td>
                    <td>
                      <input type="text" id="vocabularyName" name="vocabularyName" placeholder="Enter vocabulary name" value="" style="width:200px" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label for="server">Domain name:</label>
                    </td>
                    <td>
                      <input type="text" id="server" name="server" placeholder="Enter domain name" value="" style="width:200px" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label>Web Hook</label>
                    </td>
                    <td>
                      <input type="checkbox" name="webHook" value="webHookChecked">
                      <span id='WebHookInfo'>
                        <img src="images/question-icon.png" alt="" width="15" height="15" style="margin-top:-9px" />
                      </span>

                      <br>
                    </td>
                  </tr>

                  <tr>

                    <td height="5px">

                    </td>
                    <tr>
                      <td colspan="2" class="sectionTR">
                        <b>Repository info</b>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="repository">Repository:</label>
                      </td>
                      <td>
                        <input type="text" id="repository" name="repository" placeholder="Enter repository address" value="" style="width:200px" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="branchName">Branch Name:</label>
                      </td>
                      <td>
                        <input type="text" id="branchName" name="branchName" placeholder="Enter branch name" value="" style="width:200px" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="user">User:</label>
                      </td>
                      <td>
                        <input type="text" id="user" name="user" placeholder="Enter repository user" value="" style="width:200px" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="password" style="width:100px">Password:</label>
                      </td>
                      <td>
                        <input type="password" id="password" name="password" placeholder="Enter repository password" style="width:200px" />
                      </td>
                    </tr>
                    <tr>

                      <td height="5px">

                      </td>

                      <tr>
                        <td colspan="2" class="sectionTR">
                          <b>Syntax Validation</b>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:145px">
                          <label>Rapper</label>
                        </td>
                        <td>

                          <input type="radio" name="syntaxValidation" value="rapperChecked">
                          <br>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label>Jena Riot</label>
                        </td>
                        <td>
                          <input type="radio" name="syntaxValidation" value="jenaRiotChecked">
                          <br>
                        </td>
                      </tr>
                      <tr>

                        <td height="5px">

                        </td>


                        <tr>
                          <td colspan="2" class="sectionTR">
                            <b>Documentation Generation</b>
                          </td>
                        </tr>
                        <tr>

                          <td style="width:170px">
                            <label>SchemaOrg</label>
                          </td>
                          <td>
                            <input type="radio" name="documentationGeneration" value="schemaOrgChecked">
                            <span id='SchemaOrgInfo'>
                              <img src="images/question-icon.png" alt="" width="15" height="15" style="margin-top:-9px" />
                            </span>
                            <br>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label>Widoco</label>
                          </td>
                          <td>
                            <input type="radio" name="documentationGeneration" value="widocoChecked">
                            <span id='WidocoInfo'>
                              <img src="images/question-icon.png" alt="" width="15" height="15" style="margin-top:-9px" />
                            </span>
                            <br>
                          </td>
                        </tr>
                        <tr>

                          <td height="5px">

                          </td>


                          <tr>
                            <td colspan="2" class="sectionTR">
                              <b>Additional Services</b>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Visualization</label>
                            </td>
                            <td>
                              <input type="checkbox" name="visualization" value="visualizationChecked">
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Sparql EndPoint</label>
                            </td>
                            <td>
                              <input type="checkbox" name="sparqlEndPoint" value="sparqlEndPointChecked">
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Syntax Validation Report</label>
                            </td>
                            <td>
                              <input type="checkbox" name="syntaxValidationReport" value="syntaxValidationReportChecked">
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Schema Evolution Report</label>
                            </td>
                            <td>
                              <input type="checkbox" name="evolutionReport" value="evolutionReportChecked">
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Other Branches</label>
                            </td>
                            <td>
                              <input type="checkbox" name="otherBranches" value="otherBranchesChecked">
                              <br>
                            </td>
                          </tr>

                          <tr>
                            <td style="width:170px">
                              <label>Client Side Hooks</label>
                            </td>
                            <td>

                              <input type="checkbox" name="clientHooks" value="clientHooksChecked">
                              <br>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <label>Turtle Editor</label>
                            </td>
                            <td>
                              <input type="checkbox" name="turtleEditor" value="turtleEditorChecked">
                              <br>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <label>Use Predefined Queries</label>
                            </td>
                            <td>
                              <input type="checkbox" name="predefinedQueries" value="predefinedQueriesChecked">
                              <br>
                            </td>
                          </tr>

                          <tr>

                            <td height="5px">

                            </td>


                            <tr>
                              <td colspan="2" class="sectionTR">
                                <b>Serializations Format</b>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label>RdfXML</label>
                              </td>
                              <td>
                                <input type="checkbox" name="rdfxml" value="rdfxmlChecked">
                                <br>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <label>NTriples</label>
                              </td>
                              <td>
                                <input type="checkbox" name="ntriples" value="ntriplesChecked">
                                <br>
                              </td>
                            </tr>


                            <tr>
                              <td height="30px">

                              </td>
                            </tr>

                </table>
              </td>
              <td width="20px">

              </td>
              <td valign="top">

                <table>
                  <tr>
                    <td>
                      <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="sourceCodeTabs">
                          <li role="presentation" class="active"><a href="#homepage" aria-controls="homepage" role="tab" data-toggle="tab">Homepage Description</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="homepage">

                            <textarea id="editor" name="homepageContent" style="width:100%"></textarea>

                          </div>
                         <!-- <div role="tabpanel" class="tab-pane" id="queries">
                            <textarea name="predefinedQueriesContent" style="width:600px;min-width:600px;max-width:600px; height:650px">

                              prefixes: {
                                 "rdf":      "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
                                 "rdfs":     "http://www.w3.org/2000/01/rdf-schema#",
                                 "owl":      "http://www.w3.org/2002/07/owl#",
                                 "xsd":      "http://www.w3.org/2001/XMLSchema#"
                               },
                               queries: [
                                 { "name": "Selection of triples",
                                   "query": "SELECT ?subject ?predicate ?object\nWHERE { " +
                                            "  ?subject ?predicate ?object\n}\n" +
                                            "LIMIT 35"
                                 },
                                 { "name": "Selection of classes",
                                   "query": "SELECT DISTINCT ?class ?label ?description\nWHERE {\n" +
                                            "  ?class a owl:Class.\n" +
                                            "  OPTIONAL { ?class rdfs:label ?label}\n" +
                                            "  OPTIONAL { ?class rdfs:comment ?description}\n}\n" +
                                            "LIMIT 25",
                                   "prefixes": ["owl", "rdfs"]
                                 }
                               ]

                            </textarea>
                          </div> -->
                        </div>

                      </div>

                    </td>
                  </tr>

                </table>

              </td>

              </tr>
              <tr>
                <td colspan="2">
                  <input type="submit" class="btn btn-default" value="Save Configuration" />
                </td>
              </tr>
          </table>

        </fieldset>
      </form>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted" style="margin-left:-60px">&copy; <a href="http://eis.iai.uni-bonn.de/Projects/VoCol.html">Powered by VoCol</a></p>
    </div>
  </footer>
  <script>
    initSample();
  </script>

</body>

</html>
