<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>VoCol Configuration</title>
  <meta name="description" />
  <link rel="stylesheet" type="text/css" href="/docs/style.css">

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

            <li> <a href="/">Home</a> </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div>
      <ul>
        response_to_replace
      </ul>
    </div>
  </div>


  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; <a href="http://eis.iai.uni-bonn.de/Projects/VoCol.html">Powered by VoCol</a></p>
    </div>
  </footer>

</body>

</html>
