/* below line is used for online google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

div.container{
 width: 960px;
 height: 610px;
 margin:50px auto;
 font-family: 'Droid Serif', serif;
}

div.main{
 width: 308px;
 float:left;
 border-radius: 5px;
 Border:2px solid #999900;
 padding:0px 50px 20px;
}

span{
 color:red;
 font-weight:bold;
 display:inline-block;
 margin-bottom: 10px;
}

b{
 color:green;
 font-weight:bold;
}

h2{
 background-color: #FEFFED;
 padding: 25px;
 margin: 0 -50px;
 text-align: center;
 border-radius: 5px 5px 0 0;
}

hr{
 margin: 0 -50px;
 border: 0;
 border-bottom: 1px solid #ccc;
 margin-bottom:25px;
}

label{
 color: #464646;
 text-shadow: 0 1px 0 #fff;
 font-size: 14px;
 font-weight: bold;
 font-size: 17px;
}

select{
width: 100%;
font-family: cursive;
font-size: 16px;
background: whitesmoke;
padding: 10px;
border: 1px solid;
}

input[type=radio]{
 margin-left: 15px;
 margin-top: 10px;
}

input[type=submit]{
 padding: 10px;
 text-align: center;
 font-size: 18px;
 background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
 border: 2px solid #e5a900;
 color: #ffffff;
 font-weight: bold;
 cursor: pointer;
 width: 100%;
 border-radius: 5px;
}

input[type=submit]:hover{
 background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.fugo{
 float:right;
}
